
/* === ESTILOS GENERALES === */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6ebfa; /* Fondo lila claro */
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #444;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* === ALERTAS Y MENSAJES === */
.alert {
    text-align: center;
    color: green;
    font-weight: bold;
    margin-top: 20px;
}




/* === FORMULARIOS (login) === */
.container-login {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container-login h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.container-login label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

.container-login input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.container-login .btn {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.75rem;
  background-color: #0a2a66;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.container-login .btn:hover {
  background-color: #094cb0;
}

.container-login .error,
.container-login .success {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}
/* === Termina formularios del login === */

/* === Comienza formulario de register === */

.container-registro {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container-registro h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.container-registro label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

.container-registro input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.container-registro .btn {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.75rem;
  background-color: #0a2a66;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.container-registro .btn:hover {
  background-color: #094cb0;
}

/* === termina formulario de register === */

/* === estilos de los alerts === */

.custom-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.custom-alert-box {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.custom-alert-box h2 {
  margin: 0 0 0.5rem;
  font-size: 1.4rem;
}

.custom-alert-box p {
  margin-bottom: 1.5rem;
  white-space: pre-line;
}

.custom-alert-box button {
  background-color: #0a2a66;
  color: white;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.hidden {
  display: none;
}


/* ===  termina los estilos de los alerts === */


/* ===  Comienza los estilos del home === */
/* Buscador */
.buscador-container {
  margin: auto;
  max-width: 700px;
}

.buscador-container h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.buscador-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 0 auto;
}
.buscador-input {
  flex: 1;
  min-width: 250px;
  max-width: 500px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 999px;
  outline: none;
  transition: border 0.2s ease;
}

.buscador-input:focus {
  border-color: #0a2a66;
}

.buscador-button {
  padding: 0.75rem 1.5rem;
  background-color: #0a2a66;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.buscador-button:hover {
  background-color: #094cb0;
  transform: translateY(-1px);
}



/* Mensajes */
.success,
.error {
  font-weight: bold;
  margin-bottom: 1rem;
}

.success {
  color: #28a745;
}

.error {
  color: #dc3545;
}

/* Secciones generales */
.resultados-busqueda,
.ultimos-videos,
.sin-resultados {
  margin-top: 3rem;
}

/* Grilla de videos */
.grilla-videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

/* Tarjeta de video */
.card-video {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
}

.card-video:hover {
  transform: scale(1.02);
}

/* Enlace del video */
.enlace-video {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 0;
}

.card-video video {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid #eee;
}

.card-video h3 {
  font-size: 1rem;
  padding: 1rem;
  margin: 0;
  text-align: center;
}

/* ===  termina los estilos del home === */


/* ===  Empieza formulario de subir video === */
#mapa {
  height: 300px;
  margin: 1rem 0;
  border: 2px solid #333;
  border-radius: 6px;
}

.checkboxes-palabras {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin: 0.5rem 0 1rem;
}

.checkboxes-palabras label {
  background-color: #f1f1f1;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  user-select: none;
}

.checkboxes-palabras input[type="checkbox"] {
  margin-right: 0.5rem;
}


.mensaje-superpop {
  text-align: center;
  font-weight: bold;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}


/* ===  termina formulario de subir video === */




/* ===  Panel de usuario - las cards son las mismas del home === */

.acciones-video {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn-editar,
.btn-eliminar {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-editar {
    background-color: #3498db;
    color: white;
}

.btn-editar:hover {
    background-color: #2980b9;
}

.btn-eliminar {
    background-color: #e74c3c;
    color: white;
}

.btn-eliminar:hover {
    background-color: #c0392b;

}




.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal.hidden {
    display: none;
}

.modal-contenido {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.modal-botones {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn-confirmar {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-cancelar {
    background-color: #bdc3c7;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* === Termina Panel de usuario === */



/* === Ventana de visualizacion de videos=== */
#mapa {
  height: 300px;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: 6px;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-video {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}





.grid-dos-columnas {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.contenido-principal {
  max-width: 100%;
}

.sugerencias-lateral {
  padding: 10px;
}

.desplegable summary {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}

#mapa {
  height: 300px;
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.card-video {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.acciones-voto {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}


video {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 6px;
}


.btn-reset {
  margin-left: 10px;
  padding: 6px 12px;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.btn-reset:hover {
  background-color: #bbb;
}


/* === termina Ventana de visualizacion de videos=== */

/* === BOTONES GENERALES === */
button, .btn {
    padding: 10px 30px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #4caf6f;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover, .btn:hover {
    background-color: #388E3C;
}

/* Botones secundarios */
.botonCancelar {
    background-color: #FF4D4D;
}

.botonCancelar:hover {
    background-color: #D93636;
}

/* === TARJETAS DE VIDEOS === */
/* (usado en listado de videos o sugerencias) */
.card-video {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 15px;
    margin: 15px auto;
    max-width: 400px;
    text-align: center;
}

.card-video img {
    max-width: 100%;
    border-radius: 5px;
}

.card-video h3 {
    margin: 10px 0 5px;
}

.card-video p {
    color: #555;
    font-size: 14px;
}

/* === MENSAJES DE ESTADO === */
.success {
    color: #2E7D32;
    font-weight: bold;
    text-align: center;
}

.error {
    color: #C62828;
    font-weight: bold;
    text-align: center;
}

/* === UTILITARIOS === */
.text-center {
    text-align: center;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}



/* === UTILITARIOS === aca afecta globalmente e atodos los bototnes */
/* === BOTONES SECUNDARIOS === */
.btn-primary {
    background-color: #4CAF50;
}

.btn-primary:hover {
    background-color: #388E3C;
}

.btn-secundario {
    background-color: #007BFF;
    margin-left: 10px;
}

.btn-secundario:hover {
    background-color: #0056b3;
}

/* === GRUPO DE BOTONES O LINKS === */
.grupo-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
}


/* === NAVBAR === Dejo esto para futuro, no puedo separar el css del navbar porque la funcionalidad include que utilizo
para hacer un "componente reutilizable " no me renderiza el css cargado al mismo  */
.navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  .navbar span {
    color: #fff;
    margin-right: 20px;
  }



  /* === Formulario de subida de videos === */

  #mapa {
    height: 300px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 6px;
  }
  
  

  .formulario-subida {
    width: 90%;                /* 🔁 Usamos % para que sea responsivo */
    max-width: 350px;          /* 🔒 Límite máximo en pantallas grandes */
    margin: 30px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .formulario-subida label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  .formulario-subida input,
  .formulario-subida textarea,
  .formulario-subida button {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .formulario-subida button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .formulario-subida button:hover {
    background-color: #555;
  }
  

    /* === Aca va todo el css de los alerts === */

  .mensaje-flotante {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    background-color: #c0392b; /* rojo por defecto */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    opacity: 0;
    animation: fadeInOut 4s ease-in-out forwards;
    max-width: 90%;
    text-align: center;
  }
  
  .mensaje-flotante.ok {
    background-color: #27ae60; /* verde */
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; top: 0; }
    10% { opacity: 1; top: 20px; }
    90% { opacity: 1; top: 20px; }
    100% { opacity: 0; top: 0; }
  }
  
  /* === Home grilla de videos === */

 
    /* === ver videos  === */

.inline-form {
    display: inline;
  }
  
    /* === Buscador estilos === */

  .buscador-container {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  .buscador-container h2 {
    margin-bottom: 15px;
  }
  
  .buscador-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
  }
  
  .buscador-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
  }
  
  .buscador-button {
    padding: 8px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buscador-button:hover {
    background-color: #0056b3;
  }
  
      /* === NAVBAR === */

      .navbar {
        background-color: #333;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .navbar-title {
        color: #fff;
        font-weight: bold;
        margin-right: 30px;
        font-size: 20px;
    }
    
    .navbar-link {
        color: #fff;
        margin-right: 15px;
        text-decoration: none;
    }
    
   
    .user-info {
      display: flex;
      flex-direction: column;
      color: #fff;
      margin-right: 30px;
  }
  
  .ultimo-acceso {
      font-size: 0.85em;
      color: #bbb;
      margin-top: 2px;
  }
  


    